
#top-container {  /*Sets the height and width of the section */
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    text-align: center;
  }

#container {  /*Sets the height and width of the section */
    background-color: whitesmoke;
    text-align: center;
  }

#summary

.images-container{
    
}

#wishlist

#resize {
    object-fit: cover;
    object-position: right top;
}


#header
{
    background-color: #32CD32;
    flex-wrap: wrap;
    margin: auto;
    padding: 0%;
    flex-direction: column;
    border:#FF4500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px whitesmoke; 
    }
    
    #header:hover {
        background-color: red;
        color: green;
        text-shadow: 2px 2px 4px white;



}   


#container 

#summary

#images

#wishlist

#donor

#options

#assistance

#sponsor

footer {
    background-color: #f1f1f1;
    padding: 10px;
    border-top: 1px solid #ccc;
    flex-direction: row;
    display: flex;
    justify-content: center;
    

}

#footer p {
    font-size: 17px;
    color: black;
    text-shadow: #f1f1f1  1px 1px 1px;
    font-weight: bold;
    text-align: center;
    
}
