* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.home-button {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}

.home-button:hover {
    background-color: #555;
}

section {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

#childRef {
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
}

#childRef h2 {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

#childRef h3 {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

#childRef ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    font-size: 1em;
    color: #666;
}

#childRef ul li {
    margin-bottom: 5px;
}

#footer p {
    font-size: 17px;
    color: black;
    text-shadow: #f1f1f1  1px 1px 1px;
    font-weight: bold;
    text-align: center;
 
    
}