
#bg-video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#countdown-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 0 1.2rem;
    z-index: 1;
}

#countdown {
    display: flex;
    gap: 1px;
    text-align: center;
}

.time-box {
    background-color: #fff;
    margin: 2rem;
    width: 110px;
    height: 100px;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.label {
    color: #B11809;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-top: 8px;
    font-size: 15px;
}

#countdown-text {
    margin-top: -10px;
    max-height: 0px;
    font-size: 32px;
    color: #fff;
    text-shadow: black 3px 3px 3px;
    font-weight: bold;
}